.resultListContainer {
  margin: 20px;
}

.resultBlock {
  margin-bottom: 30px;
  width: 50%;
}

.displayLink {
  color: #3c4043;
  text-decoration: none;
  margin-bottom: 5px;
}

.resultLink {
  color: #001fd1;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.snippet {
  color: #3c4043;
  font-size: 20px;
  margin: 0;
}
